@import '../variables';
.basic-modal {
    width: 100%;
    max-width: 400px !important;
    .modal-title {
        color: #3e3e3e !important;
        font-size: 14px !important;
        font-weight: normal !important;
        letter-spacing: 0.35px !important;
    }
    >.mat-dialog-container {
        overflow: hidden;
    }
    .table-actions {
        display: flex;
        justify-content: center;
        padding: rem(24px) rem(24px) rem(16px);
        margin: rem(-16px) rem(-30px);
        >button {
            flex: 1;
            margin: rem(6px);
        }
        @media only screen and (max-width: 767px) {
            align-items: stretch;
            flex-direction: column;
            >button {
                flex: 1 0 auto;
            }
        }
    }
}

.small-modal {
    @extend .basic-modal;
    max-width: 260px !important;
}

.wide-modal {
    @extend .basic-modal;
    max-width: 550px !important;
}

.ultra-wide-modal {
    @extend .basic-modal;
    max-width: 850px !important;
    .mat-dialog-content {
        max-height: 70vh !important;
    }
    @media only screen and (max-width: 900px) {
        max-width: 92vw !important;
    }
}

.select-modal {
    @extend .basic-modal;
    >.mat-dialog-container {
        padding: 0;
    }
    width: 100%;
    max-width: 400px !important;
}

.test-modal {
    @extend .select-modal;
    max-width: 420px !important;
    >.mat-dialog-container {
        padding: rem(24px);
    }
}