html {
    .mat-tooltip {
        background: #fff;
        color: #797979 !important;
        box-shadow: 2px 4px 22px 2px rgba(0, 0, 0, 0.2);
        font-size: 14px;
        padding: rem(16px) rem(12px);
        font-weight: 400;
    }
}